
.svg{
    width: 50%;
    align-self: center;
}
.intro{
    width:50%;
    align-self: center;
    margin-top:-10%;
}
.intro h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #fff;
}
.intro p{
    font-size: 32px;
    color: #eee;
    text-justify: auto;
}

.row-1{
    background: #14103b;
    padding: 100px 5% 100px 10%;
    display: flex;
    width: 100%;
    
}

#parallax-wrap{
    width: 100%;
    position: relative;
    
}

.project-row{
    height: 100vh;
    width: 100%;
    position: sticky;
    top:0;
    background: #fff;
}

.project-row:nth-child(even){
    background: #eee;
}

.row-2{
    /* background: chartreuse; */
}

.row-3{
    /* background: saddlebrown; */
}

.row-4{
    /* background: firebrick; */
}

.row-5{
    /* background: wheat; */
}

.project-row{
    padding: 10px 10%;
    display: flex;
    box-shadow: 0 0 10px #ccc;
}
.project-desc{
    align-self: center;
    width: 50%;
    padding-right: 20px;
    line-height: 1.5em;
    font-size: 18px;
}
.project-img{
    align-self: center;
    width: 50%;
    padding-left: 20px;
    perspective: 1000px;
    
    border-radius:10px;
    /* overflow: hidden; */
}
.project-img  img{
    /* transform: rotateY(-30deg); */
    transition: all 0.5s ease-in-out;
    /* box-shadow: 0px 0px 10px #ddd; */
    border-radius: 5px;
}
.project-title{
    font-size: 36px;
    margin-bottom: 30px;
    background: #043142;
    color: #fff;
    box-shadow:10px 0 0 #043142, -10px 0 0 #043142;
    padding: 10px 0;
    display: table;
    width: fit-content;
    font-weight: 100;

}
.project-intro{
    font-size: 22px;
    font-weight: 100;
}
.project-links{
    display: flex;
    margin-top:30px;
    border-top: 1px solid #ddd;

}
.proj-link{
    margin: 10px;
    display: flex;
    border-bottom: solid 1px #16998000;
}
.proj-link p{
    display: inline-block;
    padding: 5px;
    color: #3a2d70;
    font-weight: 100;
    align-self: center;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    line-height: 1.1em;
}
.proj-link i{
    padding: 5px;
    font-size: 48px;
    color: #14103b66;
    transition: all 0.2s ease-in-out;
    
}

.proj-link:hover{
    /* background: #eee; */
    border-bottom: solid 1px #169980;
}
.proj-link:hover i{
    color: #169980;
}
.proj-link:hover p{
    color: #14103b
}



