
html {
    scroll-behavior: smooth;
}
*{
    font-family: 'foco', sans-serif;
    box-sizing: border-box;
}
a{
    color: unset;
    text-decoration: none;
}
header{
    padding: 0 15%;
    background: #14103b;
}
#nav-icon{
    width:100px;
}
img{
    width: 100%;
}
.navbar-toggler{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
}
#navbarNav{
    align-self: flex-end;
}
nav ul{
    display: flex;

}
.nav-item{
    margin-left: 25px;
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
}

