
*{
    font-family: 'foco', sans-serif;
    box-sizing: border-box;
}
a{
    color: unset;
    text-decoration: none;
}
header{
    padding: 0 15%;
    background: #eee;
}
#nav-icon{
    width:100px;
}
img{
    width: 100%;
}
.navbar-toggler{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
}
#navbarNav{
    align-self: flex-end;
}
nav ul{
    display: flex;

}
.nav-item{
    margin-left: 25px;
    text-transform: uppercase;
    font-weight: 100;
}
.svg{
    width: 50%;
    align-self: center;
}
.intro{
    width:50%;
    align-self: center;
}
.intro h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #14103b;
}
.intro p{
    font-size: 32px;
    color: #3a2d70;
}
.content{
    height: 100vh;
}
.row-1{
    background: #eee;
    padding: 100px 10% 100px 15%;
    display: flex;
    width: 100%;
}